
.question-btn {
    height: 30vh;
	text-align: center;
}

.answer-btn {
	height: 17vh;
	text-align: center;
}

.header-rect {
	display:inline-block;
	height: 8vh; 
	width: 15vw; 
	
}

.header-text {
	display:inline-block;
/* 	height: 8vh;
	width: 55vw; */
	text-align: center;
	/* line-height: 10vh;
	vertical-align: center; */
}

.footer-rect {
	height: 3vh;
	width: 100vw;
	/* margin: auto; */


}
